{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/lab_8.css' %}"/>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
	<title>Lab 8 by {{ author }}</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
        <div class="container" >
          <div class="navbar-header" >
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'lab-8:index' %}">Home</a>
          </div>
        </div>
      </nav>
  </header>
  
  <content>
      <section name="postFeed" id="postFeed">
          <div class="container" id="lab8">
          </div>
          <div class="status"></div>
      </section>
    <!-- <div id="lab8"> 
    </div> -->
    <!-- <div id="box">
    </div> -->
  </content>

  <!-- <footer>
      <nav class="navbar fixed-bottom">
        <a class="navbar-brand" style="right:20px; position:fixed">
          <p style="color:grey">&copy; Made by Love {{author}}</p>
        </a>
      </nav>
  </footer> -->
</body>
<script src="{% static 'js/lab8.js' %}"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
</html>
