body {
    font-family: 'Roboto Condensed', sans-serif;
  }

  
.profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }
  
  .cover {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    opacity: 0.7;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  
  .picture, .data {
    z-index: 1;
  }
  
  .picture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: #fff;
    padding: 0.8rem;
  }
  
  .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 2rem;
  }
  
  .data h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0.5rem;
  }
  
  .data h2 {
    font-size: 1.8rem;
    margin: 0.3rem;
  }
  
  .data h3 {
    font-size: 1.5rem;
    margin: 0.2rem;
  }
  
  .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0 4rem;
  }
  
  .feed {
    width: 80rem;
    margin: 1rem;
    padding: 0.8rem;
    background: aliceblue;
    border-radius: 0.35rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .deleteButton {
    padding: 0.3rem 1.5rem;
    border-radius: 1rem;
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    color: #fff;
  }
  
  .feed h1 {
    font-size: 2rem;
  }
  
  .feed h2 {
    font-size: 1.5rem;
  }
  
  .statusContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .statusContainer input {
    border-radius: 1rem;
    padding: 0.5rem;
  }
  
  @media screen and (max-width: 64em) {
    .feed {
      width: 100%;
    }
  }

  .loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  /* Facebook */
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }