<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Biodata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<style>
    table, th, td {
        border: 2px solid black;
        text-align: center;
        color: gray;
        padding: 5px;
        font-size: 14px;
        font-weight: bold;
    }
    .subject{
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color: #6650ff;
    }
    .value{
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color: #ff102c;
    }
    body {
        background-color: #dbae58;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .nav-item:hover {
        font-weight: bold;
    }
    .typewriter h3 {
        text-align: center;
        width:100%;
        margin: 0 auto;
        padding: 10px;
        color:#313131;
        font-weight: bold;
        position: absolute;
        -webkit-animation : colorchange 20s infinite alternate;
    }
    @-webkit-keyframes colorchange {
        0% {  
          color: blue;
        }
        10% { 
          color: #8e44ad;
        }
        20% { 
          color: #1abc9c;
        }
        30% { 
          color: #d35400;
        }
        40% { 
          color: blue;
        }
        50% { 
          color: #34495e;
        }
        60% { 
          color: blue;
        }
        70% { 
          color: #2980b9;
        }
        80% {
          color: #f1c40f;
        }
        90% {
          color: #2980b9;
        }
        100% { 
          color: pink;
        }
    }
    .navbar-brand:hover {
        font-size: 20px;
        font-weight: bold;
    }
    html {
        width: 100%;
        height: 100%;
    }
    #diary {
        position: absolute;
    }
    #form {
        position: absolute;
        right: 5px;
        padding: 5px;
    }
    body {
      font-family: 'Montserrat', sans-serif;
    }
  
</style>
<body>
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="https://www.facebook.com/profile.php?id=100013366787849">Rio Kurtinus</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/lab-2/">Home</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/lab-2-addon/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-3/">Diary</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %} 
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
